<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyue.mapper.RoleMapper">
	<insert id="createRole" parameterType="com.tianyue.model.Role">
		insert into sys_roles(role,description,available) value(#{role},#{description},#{available})
	</insert>
	<select id="findByRoleName" parameterType="String" resultType="com.tianyue.model.Role">
		select * from sys_roles where role = #{role}
	</select>
	
	<insert id="correlationPermission">
		insert into sys_roles_permissions(role_id,permission_id) value(#{rid},#{pid})
	</insert>
	<delete id="unCorrelationPermission">
		delete from sys_roles_permissions where role_id = #{rid} and permission_id = #{pid}
	</delete>
	<!-- <delete id="deleteConorrelationPermission">
		delete from sys_roles_permissions where role_id = #{rid}
	</delete> -->
	<delete id="deleteRole">
		delete from sys_roles where id = #{rid}
	</delete>
</mapper>